
<%- include("partials/header") %>
    
   
 <div class="container"> 


    <div class="text"> 
        <h1>  Result</h1>  


        <h3>Movie Name:  <spam> <%= title %> </spam>  </h3>  
        <h3>Year:  <spam> <%= year %> </spam>  </h3> 
        <h3>Released:  <spam> <%= released %> </spam>  </h3> 
    

        <h3>Director:  <spam> <%= director %> </spam>  </h3> 
         <h3>Writer:  <spam> <%= writer %> </spam>  </h3> 
         <h3>Actors:  <spam> <%= actors %> </spam>  </h3> 
        </div>

    <div class="img"> 
    <img src="  <%= poster %>    " alt="">
</div>
</div>



    <%- include("partials/footer") %>



